html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  background: rgba(233,196,108,0.01);
}

header {
  text-align: center;
  margin-top: 4rem;
}

#main-container {
  /*width: 100%;*/
}

main {
  width: 80%;
  margin: 2rem auto;
  font-size: .85rem;
  letter-spacing: .03rem;
  line-height: 1.4;
}

#main-list {
  list-style: none;
  padding: 0;
  display: flex;
}
/*
#main-wrapper {
  width: 100%;
  margin: 0 auto;
}*/

.text-wrapper {
  width: 49%;
  margin: 0;
}

.text-wrapper:last-child {
  order: -1;
}

#main-left {
  text-align: right;
  padding-right: .5rem;
  -webkit-transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;

}
#main-right {
  opacity: .5;
  padding-left: .5rem;
  -webkit-transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;

}
#main-right:hover {
  opacity: 1;
}
#main-right:hover + #main-left {
  opacity: .5;
}

.small-title {
  font-style: italic;
  font-weight: bold;
}

#contact-container {
  text-align: center;
}
#contact-link {
  display: none;
}
#contact-link:checked ~ #contact-form {
  position: relative;
  z-index: 1;
  visibility: visible;
  opacity: 1;
}

#contact-label {
  color: #daa41f;
  margin-left: -2.4rem;
  text-decoration: underline;
  opacity: .6;
  cursor: pointer;
  -webkit-transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
}
#contact-label:hover {

  opacity: 1;
}
#contact-form {
  position: absolute;
  top: 0;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  margin: 2rem .4rem;
  -webkit-transition: opacity .4s ease-in-out;
  -moz-transition: opacity .4s ease-in-out;
  transition: opacity .4s ease-in-out;
}
#contact-form * {
  border: 1px solid #ccc;
  padding: .2rem .3rem;
}
#contact-form input[type="text"] {
  margin-bottom: .4rem;
  width: 10rem;
  height: 1rem;
}
#contact-form textarea {
  /*margin-bottom: .4rem;*/
  width: 30rem;
  height: 10rem;
}
#contact-form .form-button {
  background: #fff;
  cursor: pointer;
}



footer {
  margin-top: 4rem;
  text-align: center;
  font-size: .7rem;
  color: #bbb;
  font-style: italic;
}
@media screen and (min-width: 1025px) {
  #form-messages {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: .5rem 1rem;
    border: .15rem solid #555;
    border-radius: .2rem;
    box-shadow: 0 0 .6rem #aaa;
  }
  .success {
    background: #c1ffb4 !important;
  }
}

@media screen and (max-width: 1024px) {
  main {
    width: 80%;
  }
  #main-list {
    flex-direction: column;
  }
  .text-wrapper {
    width: auto;
    margin: 0 auto;
  }
  #main-left {
    text-align: left;
    padding-right: 0;
  }
  #main-right {
    text-align: left;
    padding-left: 0;
  }
  #contact-form textarea {
    /*margin-bottom: .4rem;*/
    width: 80%;
    height: 10rem;
  }
  #contact-label {
    margin-left: 0rem;
  }
  #form-messages {
    position: relative;
    display: none;
  }
  .success {
    color: #00a035 !important;
  }
}
@media screen and (max-width: 440px) {
  main {
    width: 90%;
  }
  #logo {
    max-width: 300px;
  }
  #contact-form textarea {
    /*margin-bottom: .4rem;*/
    width: 90%;
    height: 6rem;
  }
}
